.container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  background-color: #EEEFF1;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
  align-items: center;
}
.header__ul {
  display: flex;
  color: black;
}
.header__li {
  font-family: "Roboto";
}
.header__li a {
  color: black;
  text-decoration: none;
}
.header__li a:hover {
  color: #34547A;
}
.header__li:not(:last-of-type) {
  margin-right: 42px;
}
.header__info {
  display: flex;
  align-items: center;
  padding-bottom: 146px;
  justify-content: center;
  padding-top: 162px;
}
.header__info img {
  margin-right: 142px;
}
.header__info-block {
  display: flex;
  flex-direction: column;
}
.header__info-block h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 60px;
}
.header__info-block p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #727272;
  margin-bottom: 85px;
}
.header__text {
  max-width: 540px;
}
.header__text button {
  background-color: #34547A;
  font-family: "Roboto";
  border: none;
  padding: 25px 41px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  z-index: 10;
}
.burger__line-1 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}
.burger__line-2 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}
.burger__line-3 {
  width: 30px;
  height: 3px;
  background-color: black;
}
.burger__menu {
  display: none;
}
.burger__ul {
  display: flex;
  flex-direction: column;
}
.burger__li {
  font-family: "Roboto";
}
.burger__li:not(:last-of-type) {
  margin-bottom: 10px;
}

.visible {
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: aliceblue;
  top: 0;
  right: 0;
  padding-top: 25%;
}

.body__scroll {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.rotate1 {
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  transition: 0.5s;
}

.rotate2 {
  transform: rotate(132deg);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__info-block {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__info-block {
    padding-left: 32px;
    padding-right: 32px;
  }

  .burger__li {
    font-size: 20px;
  }
}
@media (max-width: 950px) {
  .header {
    text-align: center;
  }
  .header__info-block {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__ul {
    display: none;
  }
  .header__info img {
    display: none;
  }
}
@media (min-width: 950px) {
  .burger {
    display: none;
  }

  .visible {
    display: none;
  }

  body {
    overflow: auto !important;
  }
}
.info {
  padding: 119px 0 100px;
  text-align: center;
}
.info__title {
  font-family: "Roboto";
  font-size: 32px;
  margin-bottom: 50px;
}
.info__text {
  margin: 0 auto;
  font-family: "Roboto";
  max-width: 540px;
  line-height: 26px;
  color: #727272;
}

@media (max-width: 768px) {
  .info {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.rectangle {
  background-color: #34547A;
  padding: 100px 0 100px;
}
.rectangle__project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rectangle__item {
  display: flex;
}
.rectangle__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.rectangle__number {
  margin-bottom: 10px;
  color: white;
  font-size: 21px;
  font-family: "Roboto";
  line-height: 24px;
}
.rectangle__text {
  font-family: "Roboto";
  color: white;
}

@media (max-width: 950px) {
  .rectangle {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 950px) {
  .rectangle {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 345px) {
  .rectangle {
    text-align: center;
  }
  .rectangle__project {
    justify-content: center;
  }
}
.skills {
  padding: 102px 0 101px;
  display: flex;
  justify-content: space-between;
}
.skills h2 {
  font-family: "Roboto";
  font-size: 32px;
  margin-bottom: 50px;
}
.skills p {
  font-family: "Roboto";
  font-size: 16px;
  color: #727272;
}
.skills p:not(:last-of-type) {
  margin-bottom: 20px;
}
.skills__img {
  max-width: 555px;
  max-height: 450px;
  object-fit: cover;
}

@media (min-width: 950px) {
  .skills {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 950px) {
  .skills {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 900px) {
  .skills {
    flex-direction: column;
    text-align: center;
  }
  .skills__list {
    margin-bottom: 50px;
  }
  .skills__img {
    max-width: 100%;
    max-height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
